.ledger-header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.ledger-header .search {
  flex: 1 1 auto;
}

.ledger-header button {
  flex: 0 1;
  white-space: nowrap;
}

.ledger-list {
  border-collapse: collapse;
  width: 100%;
}

.hide-on-mobile {
  display: none;
}

.ledger-list th {
  text-align: left;
}

.ledger-list th,
.ledger-list td {
  padding: 0.5rem 1rem;
}

.ledger-list thead tr:last-of-type th {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.ledger-list tbody tr:nth-child(2n + 1) td {
  background-color: rgba(26, 26, 26, 0.5);
}

.ledger-list .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
}

.ledger-list .pagination > button {
  height: 3rem;
  margin: 0 0.25rem;
  width: 4rem;
}

.ledger-list .pagination > .pagination-display {
  margin: 0 2rem;
}

@media (min-width: 720px) {
  .hide-on-mobile {
    display: initial;
  }

  th.hide-on-mobile,
  td.hide-on-mobile {
    display: table-cell;
  }
}

@media (prefers-color-scheme: light) {
  .ledger-header {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .ledger-list thead tr:last-of-type th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }

  .ledger-list tbody tr:nth-child(2n + 1) td {
    background-color: rgba(240, 240, 240, 0.5);
  }
}
