.problem-summary {
    background-color: brown;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.problem-summary p,
.problem-summary dl {
    margin: 0;
}

.problem-summary * + p,
.problem-summary * + dl {
    margin-top: 0.5rem;
}

.problem-summary dl {
    font-size: 0.875rem;
}

.problem-summary dt {
    font-weight: 600;
}

.problem-summary dd {
    margin-left: 1rem;
}

.input-group .problem-item {
    color: brown;
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 0.5rem 0 0;
}
